///////////////
@import "colors.scss";

$sidebar-width: 230px;

$navbar-height: 50px;
$spacing: 12px; //Setting to em or rem will break maths

$break-small: 768px;
$break-large: 1200px;

$border-radius: 5px;
///////////////

body,html {
    height: 100%;
	overflow-x: hidden;
    color: $anno-color;
    background: $background;
}

.card {
    flex: auto;
    padding: 0.5rem;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,.1) !important;

    background-color: $card-color;

    margin-top: $spacing;
    margin-right: $spacing;
    margin-bottom: $spacing;
    
    border-width: 0;
    border-radius: $border-radius;
}

.modal-content {
    background: $card-color;
}

.noselect {
    user-select: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:$primary;
}

//get rid of fucking button outlines pls
*:focus {outline: 0;}
button:focus {outline: 0;}
.btn:focus, .btn.focus, .btn:active, .form-control:focus {
    box-shadow: none;
    outline: none;
}

#wrapper {
    display: flex; //Resize children
    overflow-x: hidden;
    height:100%;
    padding-top: $navbar-height;

    margin-left:-$sidebar-width + $spacing;
    transition: all 0.2s ease;
    
    &.toggled {
        margin-left: 0;
    }
}

.navbar {
    height: $navbar-height;
    justify-content: left;
}

#sidebar-container {
    position: relative;
    flex: 0 0 auto; //Disable shrink & grow

	z-index: 1000;
	width: $sidebar-width;
    height: 100%;

    padding: $spacing;
    overflow-y: hidden;

    .sidebar {
        position: fixed;
        margin:0;
        width: $sidebar-width - $spacing * 2;
        height: calc(100vh - #{$navbar-height + $spacing * 2}); //calc is parsed as a string literal, so we have to use string interpolation (eg. #{$somvar})
    
        li {
            border: 0;
            background: $card-color;
        }

        .card {
            height:100%;
            margin: 0;
        }
    }
}

#page-content-wrapper {
    flex: 1 1 auto; //Don't shrink(shrinking will perform more layout which will probably be laggy)
    overflow: auto;
    padding: 0;
	//position: absolute;
	max-width: 100%;
}

.font-code {
    font-family: 'Roboto Mono';
}