/*
    This css shall only contain the scope for the terminal & calculator
    It should not extend out into the page itself
*/
@import "colors.scss";

.card {
    padding: 0;

    .input {
        &::before {
            content: ">";
        }
    }

    .output {
        color: $primary;
        &::before {
            content: "<";
        }
    }
    
    .success {
        color: $success-color;
    }

    .log {
        color: $log-color;
    }

    .debug {
        color: $debug-color;
    }

    .warning {
        color: $warning-color;

        &::before {
            content: "!";
        }
    }

    .error {
        color: $error-color;

        &::before {
            content: "x";
        }
    }
}

.list-group-item-command
{
    &::after {
        content: ">";
        position: absolute;
        top: 50%;
        right:0.75em;
        transform: translateY(-50%)
    }
}

.Line {
    position: relative;
    display:flex;
    flex: 1 1 auto;
    
    padding: 0.75em 2em;


    &::before {
        position: absolute;
        top: 50%;
        left:0.75em;
        transform: translateY(-50%)
    }
    
    border-top: 1px dashed darken($card-color,10%);

    &:first-child {
        border-top: 0;
    }
}


.card-input {
    .input::before {
        color: $primary;
    }
    
    input {
        min-width: 10rem;
        resize: none;
        background: none;
        border: none;
        flex: 1 1 auto;
    }
}