body, html {
  height: 100%;
  overflow-x: hidden;
  color: black;
  background: #f3f3f3;
}

.card {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
     -moz-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 0.5rem;
  -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1) !important;
     -moz-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1) !important;
  background-color: white;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  border-width: 0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.modal-content {
  background: white;
}

.noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007fff;
}

*:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

.btn:focus, .btn.focus, .btn:active, .form-control:focus {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  outline: none;
}

#wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  height: 100%;
  padding-top: 50px;
  margin-left: -218px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#wrapper.toggled {
  margin-left: 0;
}

.navbar {
  height: 50px;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
     -moz-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#sidebar-container {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  z-index: 1000;
  width: 230px;
  height: 100%;
  padding: 12px;
  overflow-y: hidden;
}

#sidebar-container .sidebar {
  position: fixed;
  margin: 0;
  width: 206px;
  height: -webkit-calc(100vh - 74px);
  height: -moz-calc(100vh - 74px);
  height: calc(100vh - 74px);
}

#sidebar-container .sidebar li {
  border: 0;
  background: white;
}

#sidebar-container .sidebar .card {
  height: 100%;
  margin: 0;
}

#page-content-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
  padding: 0;
  max-width: 100%;
}

.font-code {
  font-family: 'Roboto Mono';
}
/*# sourceMappingURL=style.css.map */