/*
    This css shall only contain the scope for the terminal & calculator
    It should not extend out into the page itself
*/
.card {
  padding: 0;
}

.card .input::before {
  content: ">";
}

.card .output {
  color: #007fff;
}

.card .output::before {
  content: "<";
}

.card .success {
  color: #3ea03e;
}

.card .log {
  color: grey;
}

.card .debug {
  color: grey;
}

.card .warning {
  color: gold;
}

.card .warning::before {
  content: "!";
}

.card .error {
  color: red;
}

.card .error::before {
  content: "x";
}

.list-group-item-command::after {
  content: ">";
  position: absolute;
  top: 50%;
  right: 0.75em;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.Line {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.75em 2em;
  border-top: 1px dashed #e6e6e6;
}

.Line::before {
  position: absolute;
  top: 50%;
  left: 0.75em;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.Line:first-child {
  border-top: 0;
}

.card-input .input::before {
  color: #007fff;
}

.card-input input {
  min-width: 10rem;
  resize: none;
  background: none;
  border: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
/*# sourceMappingURL=terminal.css.map */